@use '../../../../utilities/scss/variables';

section#about-me {
    width: 100%;

    div#profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        div#headshot-wrapper {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            object-fit: cover;
            overflow: hidden;

            img#headshot {
                width: 100%;
                transform: scale(1.4);
                overflow: hidden;
                position: relative;
                top: 20px;
            }
        }

        ol#timeline {
            list-style: none;

            li.timeline-item {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                
                gap: 12px;

                img.timeline-icon {
                    width: 75px;
                    height: 75px;
                    border-radius: 50%;
                    box-shadow: 0 0 0 2px variables.$background-color;
                    margin-left: -25px;
                }
                
                div.timeline-info {
                    b {
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 5px;
                    }
                    ul {
                        list-style: none;
                    }
                }
            }
        }
    }
}